/* _shared.scss */

/* Tabbed navigation */
html .RadTabStrip.RadTabStrip_MetroTouch .rtsLevel1 .rtsSelected, html .RadTabStrip.RadTabStrip_MetroTouch .rtsLevel1 .rtsSelected:hover{
  border-color: #9B1C20;
  background-color: #9B1C20;
}
.RadTabStrip.RadTabStrip_MetroTouch .rtsLevel1{
  border-color: #9B1C20;
} 